article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #5a45a0;
	--color-link-hover: #fff;
	--color-bg-content: #5b6598;
	--color-title: #fff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: linotype-didot, Didot, "Didot LT STD", "Bodoni MT", "ltc-bodoni-175", "Hoefler Text", Garamond, "Times New Roman", serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hidden {
	pointer-events: none;
	visibility: hidden;
	position: fixed;
	z-index: -1;
}

.cursor, .cursor__inner {
	z-index: 9999;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	mix-blend-mode: difference;
}

.cursor__inner--circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 3px solid #de448d;
}

.cursor__inner--cross {
	width: 30px;
	height: 30px;
}

.cursor__inner--cross::before,
.cursor__inner--cross::after {
	position: absolute;
	top: 0;
	content: '';
	width: 2px;
	height: 100%;
	background: #A21020;
	left: calc(50% - 1px);
	transform: rotate(45deg);
}

.cursor__inner--cross::after {
	transform: rotate(-45deg);
}

.cursor__inner--text {
	white-space: nowrap;
	left: 30px;
	margin-top: 1px;
	color: #9A9A9A;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.content {
	background-color: var(--color-bg-content);
	position: fixed;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: 50% 30%;
	background-size: cover;
	background-blend-mode:multiply;
	cursor: pointer;
}

.content__title {
	white-space: nowrap;
	position: absolute;
	font-size: 5vw;
	will-change: transform;
	mix-blend-mode: hard-light;
	text-align: center;
	color: var(--color-title);
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
}

.content__text {
	position:absolute;
	max-width:94%;
	font-size: 1.5vw;
	will-change: transform;
	mix-blend-mode:hard-light;
	text-align: justify;
	color: var(--color-title);
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
}

.content__necessidades {
	position:absolute;
	font-size: 1.7vw;
	will-change: transform;
	mix-blend-mode:hard-light;
	text-align: left;
	color: var(--color-title);
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
}

.content__detalhes {
	position:absolute;
	max-width:32%;
	font-size: 1.5vw;
	will-change: transform;
	mix-blend-mode:hard-light;
	text-align: justify;
	color: var(--color-title);
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
}

.content__mapa {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 75%; 
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 21.5%;
	height: 21.5%;
  }

.content__button {
	position:absolute;
	font-size: 1.9vw;
	will-change: transform;
	padding: 10px 20px;
	border-radius: 3px;
	background: #FF6F00;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
}
.content__button:hover {
  background: #e66400;
}

.logo {
	text-transform: uppercase;
	color:#FF6F00 !important;
}

.cadastre {
	border-radius: 3px;
	background:transparent;
	border:1px double white;
}

.cadastre:hover {
	background: #e66400;
}

.login {
	border-radius: 3px;
	background: #FF6F00;
	color: white;
	letter-spacing: 1px;
	cursor: pointer;
	list-style:none;
}

.fs-4 {
	color:#FF6F00;
	text-transform:uppercase;
	font-weight: bold;
}

.grid-wrap--hidden {
	pointer-events: none;
}

.grid {
	display: grid;
	width: 100%;
	height: 100vw;
	--cell-number: 6;
	--cell-size: 19.9999vw;
	grid-template-columns: repeat(auto-fill, var(--cell-size));
	will-change: transform;
}

@media screen and (orientation: portrait) {
	.grid {
		height: auto;
		--cell-number: 6;
		--cell-size: 50vw;
	}
	.content__title {
	    font-size: 12vw;
    }

    .content__text {
    	max-width:80vw;
    	font-size:3.5vw
    }

	.content__necessidades {
    	font-size:4vw;
    }

	.content__detalhes {
    	font-size:3.5vw;
    	text-align:justify;
    	max-width:45%;
    }

	.content__button {
    	font-size:4.3vw
    }

    .responsive-iframe {
    	width:45%;
    	height:45%;
    }
}

.grid__item {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	height: var(--cell-size);
	outline: 1px solid rgba(0,0,0,0.87);
}

.grid__item-inner {
	width: 100%;
	height: 100%;
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
}
.grid__item-inner::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(15, 15, 15, 0.767);
	transition: background 0.1s ease;
}
.grid__item-inner:hover::after {
	background: rgba(0,0,0,0.77);
}
@media screen and (min-width:53em) {
	body {
		overflow: hidden;
	}	
	.grid-wrap {
		height: 100vh;
		overflow: hidden;
	}
}
@media screen and (min-width:650px) and (max-width:850px) {
	.grid {
		height: auto;
		--cell-number:6;
		--cell-size: 24.333vw;
	}
}