body{
 
   
    background-image: linear-gradient(115deg,
      rgba(241, 241, 241, 0.473),
      rgba(219, 219, 219, 0.411)), url(../img/Cidade_Vetores_e_Ilustracoes_de_Stock.jfif);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center ;
      height: 100%;
      margin-top:10px;
     margin-bottom:7px;
    font-family: sans-serif;
}


.form{

    width: 500px; 
    margin: auto;
    padding-top:40px ;
}

.card-top{

    text-align: center;


}

.card{

    box-shadow:1px 1px 5 px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;

}

.card-group{

    margin-bottom: 10px;

}

.card-group> label{

width:100% ;
color: rgb(77, 77, 77);
display: block;
}

.card-group > input{
    padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    outline: none;
}

.card-group > input:focus {
    border-color: #FF6F00;
  }

.senha > ul {

    list-style: none;
    margin-left: -37px;
    
   
    
}

.senha > ul > li > a {

    color: black;
    
    
}
.senha2 > ul {

    list-style: none;
    margin-left: -37px;
    
   
    
}

.senha2 > ul > li > a {

    color: black;
}

.card-group > button{

    background-image: linear-gradient( to right, #FF8C00,rgb(245, 63, 18));
    width:50% ;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
    margin-left: 100px;
}

.btn button:hover{
    background-image: linear-gradient( to right, #FF8C00,rgb(226, 80, 12));

}

.imgl{

    border-radius: 50px;
    width: 100px; ;
    box-shadow: 1px 1px 5 px #ccc;
}

.title{
color:#FF8C00;

}


